.header_section
{
  background: $white;
  max-width: 1366px;
  height: 100%;
  margin: auto;
  .icons
  {
    color: #A0A0A0;
  }
  .dropdown
  {
    margin-top: .3rem;
  }
  .form_inp
  {
    padding: 1.3rem 0;
    border-radius: 2rem 0 0 2rem;
  }
  .nav_middle_txt
  {
    font-weight: 500;
    font-size: 14px;
    a
    {
      margin: .1rem .2rem;
      display: inline-block;
      color: #898989;
      padding: .3rem .3rem;
      &.active
      {
        color: #FF9D00;
        background: rgba(100, 139, 182, 0.2);
        border-radius: 4px;
      }
    }
  }
  .search_btn
  {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background: #5564E7;
    color: $white;
    border-radius: 0 2rem 2rem 0;
    &:hover
    {
      background: #5564E7;
    }
  }
  .dropdown_btn
  {
    border: 1px solid #C4C4C4;
    color: #898989;
    font-size: 14px;
    border-radius: 8px;
    padding: .5rem 1rem;
    &:hover
    {
      text-decoration: none!important;
    }
  }
  .pro_header
  {
    margin: 1rem 0;
    a
    {
      font-size: 13px;
      color: #5A5959;
      &:hover
      {
        text-decoration: none;
      }
    }
    .fa-arrow-right
    {
      margin: 0 .3rem;
      font-weight: 100;
      font-size: .7rem;
    }
    .btn
    {
      color: $white;
      font-size: 18px;
      background: #5564E7;
    }
  }
}