.owl-dots
{
  position: absolute;
  width: 100%;
  height: 2rem;
  display: block;
  bottom: 1%;
  margin: auto;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
{
  background: #393939;;
}
.owl-carousel
{
  img
  {
    width: 100% !important;
    height: 100% !important;
  }
  .item
  {
    height: 23rem;
  }
}