#popular_subs
{
  background: #F4F4F4;
  a{
    &:hover
    {
      text-decoration: none;
    }
  }
  .heading
  {
    color: #B8B8B8;
    font-size: 18px;
    margin-bottom: 1.3rem;
  }
  .col-md-2.col-sm-4
  {
    margin: auto;
  }
  .content_w_img
  {
    width: 13%;
    margin: 5px;
    display: inline-block;
    h3
    {
      margin-top: 1rem;
      font-size: 18px;
      color: $gray;
    }
    img
    {
      width: 100%;
    }
  }
}