#side_slider
{
  max-width: 1366px;
  margin: auto;
  .img_slide_section
  {
    display: block;
    height: 20rem;
    background: #f9f9f9;
  }
  .nav-item:nth-child(3){

    .img_nav_s
    {
      width: 1rem!important;
    }
    .nav-link
    {
      margin-left: .3rem;
    }
  }
  .nav-item
  {
    a
    {
      &:hover
      {
        text-decoration: none;
      }
    }
    .img_nav_s
    {
      width: 1.2rem;
      height: 100%;
      margin-left: .5rem;
      img
      {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .nav-link
    {
      color: #262B31;
      font-size: 14px;
    }
    &.active
    {
      background: $main;
      .nav-link
      {
        color: $white;
      }
      .float-right
      {
        color: $white!important;
      }
    }
    &.nav_link_two
    {
      .nav-link
      {
        color: $main;
      }
      small
      {
        margin-top: .7rem;
        margin-right: .5rem;
        font-size: 11px;
        a
        {
          display: block;
        }
      }
    }
  }
  .subs_section
  {
    display: block;
    a
    {
      font-weight: 500;
      font-size: 16px;
      color: $black;
      &:hover
      {
        text-decoration: none;
      }
    }
  }
}